<article class="recipe-detail">
    <img src="{{device.image}}" alt="{{title}}">
    <h2>{{device.title}}</h2>
    <p>{{device.description}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>Ingredients:</h3>
    <p>{{device.ingredients}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>Instructions:</h3>
    <p>{{device.instructions}}</p>

    <h3>-----------------------------------------------------</h3>

        <h3>People Who Recommend: {{device.recommendedList.length}}</h3>
</article>
{{#if user}}
<div class="command">
    {{#if isOwner}}
    <a href="/devices/{{device.id}}/edit">Edit</a>
    <a href="/devices/{{device.id}}/delete">Delete</a>
    {{else}}
        {{#unless isPreferred}}
            <a href="/devices/{{device.id}}/prefer">Recommend</a>
        {{else}}
            <p>You've already recommended this recipe!</p>
        {{/unless}}
    {{/if}}

</div>
{{/if}}
