        {{setTitle "Create"}}
        <section id="create-container">
            <div class="create-container-info">
                <h1>Create Event</h1>
                <form method="POST">
                    <label>Name of the Disaster:</label>
                    <input type="text" id="nameOfDisaster" name="nameOfDisaster" value="{{disaster.nameOfDisaster}}" placeholder="...">
                    <label>Type of Disaster:</label>
                    <select id="type" id="typeOfDisaster" name="typeOfDisaster">
                        <option value="Wildfire" {{#if (equal disaster.typeOfDisaster "Wildfire")}}selected{{/if}}>Wildfire</option>
                        <option value="Flood" {{#if (equal disaster.typeOfDisaster "Flood")}}selected{{/if}}>Flood</option>
                        <option value="Earthquake" {{#if (equal disaster.typeOfDisaster "Earthquake")}}selected{{/if}}>Earthquake</option>
                        <option value="Hurricane" {{#if (equal disaster.typeOfDisaster "Hurricane")}}selected{{/if}}>Hurricane</option>
                        <option value="Drought" {{#if (equal disaster.typeOfDisaster "Drought")}}selected{{/if}}>Drought</option>
                        <option value="Tsunami" {{#if (equal disaster.typeOfDisaster "Tsunami")}}selected{{/if}}>Tsunami</option>
                        <option value="Other" {{#if (equal disaster.typeOfDisaster "Other")}}selected{{/if}}>Other</option>
                    </select>
                    <label>Year of the Event:</label>
                    <input type="number" id="yearOfEvent" name="yearOfEvent" value="{{disaster.yearOfEvent}}" placeholder="...">
                    <label>Location:</label>
                    <input type="text" id="location" name="location" value="{{disaster.location}}" placeholder="...">
                    <label>Image:</label>
                    <input type="text" id="image" name="image" value="{{disaster.image}}" placeholder="http://...">
                    <label>Description:</label>
                    <textarea id="description" name="description" value="{{disaster.description}}" placeholder="...">{{disaster.description}}</textarea>
                    <input type="submit" id="btn" value="Submit"></input>
                </form>
            </div>
        </section>